body {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.logoo{
    width: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #ED5AB3;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 30px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #1640D6;
}

.profile {
    position: relative;
}

.profile-img {
    width: 70px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    box-shadow: 10px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    top: 70px;
    right: 20px;
  
}

.profile:hover .dropdown-content {
    display: block;
}

.dropdown-content form {
    margin-bottom: 10px;
}

.dropdown-content input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

.dropdown-content button {
    width: 100%;
    padding: 8px;
    background-color: #ED5AB3;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #1640D6;
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.mainpict{
   width: 100%;
   margin: 0%;
}
.image-container {
    position: relative;
    margin: 0%;
    
}


.overlay {
    position: absolute;
    top: 40%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    padding-left: 50px;
    opacity: 0.9;
    border-radius: 5px;
    margin: 0%;
    width: 450px;
    height: 400px;
    color: #001B79;
    font-weight: 500px;
  
    font-size: x-large;
}
.overlaybtn{
    text-align: center;
    height: 30px;
    width: 200px;
    padding: 10px;
    background-color: aquamarine;
    border: black 30px;}
.overlaybtn:hover{
    background-color: #ED5AB3;
}

.overlay h1 {
    margin: 0;
}
.aboutuscontainer{
    position: absolute;
    width: 100%;
    top: 800px;
    height: 150px;
    background-color: #FF90C2;
    transform: translateY(-50%);
}
.aboutustitle{
    font-size: xx-large;
    text-align: center;
    font-weight: 750;
    color: #001B79;
}
.aboutusmain{
display: flex;
justify-content: space-between;
width: 80%;
margin-top: 20px;
margin: auto;
 }
.aboutusbox{
    flex: 1;
    background-color: white;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
}
.aboutuscontainer {
    position: absolute;
    width: 1433px;
    height: 300px;
    top: 950px;
    transform: translateY(-50%);
    background-color: #FF90C2;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.aboutustitle {
    font-size: 36px;
    font-weight: bold;
    color: #001B79;
    margin-bottom: 20px;
}

.aboutusmain {
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}

.aboutusbox {
    flex: 1;
    background-color: #EDF2F7;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aboutusbox h3 {
    font-size: 24px;
    color: #4A5568;
    margin-bottom: 10px;
    color: #001B79;
}

.aboutusbox p {
    font-size: 18px;
    color: #4A5568;
    color: #001B79; 
}
.aboutusbox:hover{

    background-color: aquamarine;
}
.blog-title{
    padding-left:30px;
    
}
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    padding: 20px 0px 0px 0px;
    background-color: white;
    align-self: center;
    box-sizing: border-box; 
 
}

.blog-post {
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: lightblue; 
    transition: width 0.5s ease,box-shadow 0.3s ease,height 0.5s ease;
    height: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);

}

.blog-post:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 200px;
}



.blog-post img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 13px;
    height: 70px;
}

.blog-post-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    color: #001B79; 

}

.blog-post-name {
    font-size: 12px;
    color: #001B79;
    margin-bottom: 7px;
}

.blog-post-text {
    font-size: 12px;
    color: #001B79;
    line-height: 1.6;
    
}

.blog-neww {
    
    background-color: lightblue;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    padding: 20px; 
    border: 1px solid black;
    margin-top: 60px;
    margin-left: 80%;
    margin-bottom: 60px;
    text-decoration: none;
}

.blog-neww:hover {
    
    background-color: #FF90C2;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    padding: 20px; 
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
    margin-top: 60px;
    margin-left: 80%;
    margin-bottom: 60px;
    cursor: pointer; 
    text-decoration: none;
    font-weight: 900px;
}
.blog-newww {
    cursor: pointer; 
    text-decoration: none;
    font-weight: 900px;
   
}
.carouselevent-container {
    position: relative;
    width: 100%;
    
    height: 500px;
    overflow: hidden;
    transition: opacity 0.5s ease;
 
}

.carouselevent-images {
    display: flex;
    overflow: hidden;
}

.carouselevent-images img {
    width: 100% ;
    height: 500px;
    opacity: 0;
    animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }}
    .slide-forward {
        animation-direction: normal;
    }

    .slide-backward {
        animation-direction: reverse;
    }
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next{
    right: 0;
}
.vidvote{
    background-color: #ED5AB3;
    height: fit-content;
    width: fit-content;
    padding: auto;
}
.eventtitle{
    text-align: center;
    font-weight: 700;
    font-size: large;
    font-style: italic;
}
.v_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FF90C2;
    padding: 50px;
}

.v_image-wrapper {
    width: 40%;
    margin: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px;
    box-sizing: border-box; 
    background-color: white;
}

.v_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.v_image:hover{
        transform: scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.v.title{
    font-weight: 700;
}
.v_radio-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.v_radio-btn {
    margin: 5px; 
}
.v_vote-count {
    margin-top: 5px;
    text-align: center;
    color: #777;
}

.v_video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.v_video-overlay .v_close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.v_video {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.v_play-icon{
    position: relative;
    top: 300px;   
}
a{
    font-family: "acme";
}
#why{
    font-family: "Ultra";
}
.sub-menu-wrap{
    position: absolute;
    top: 15%;
    left : 70%;
    width: 420px;
    max-height: 2px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 1;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}


.sub-menu{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.userinfo{
    display: flex;
    align-items: center;
}
.userinfo h2{
    font-weight: 500;
    font-size: 25px;
}

.userinfo img{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: white;
    margin: 15px 0 10px;
    
}
.sunmenulink{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sunmenulink p{
    width: 100%;
}
.sunmenulink span{
    font-size: 22px;
    transition: transform 0.5s;

}
.sunmenulink:hover span{
    transform: translateX(5px);

}
.sunmenulink p:hover p{
    font-weight: 600;
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    /* margin-left: 40px; */
    padding:30px

}

